<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>

<body>
    <div class="container">
        <picture>
            <img src="https://www.gadgeon.com/web/images/p-e-01.jpg" alt="img1">
            <h2>Product Development</h2>
            <p>Product development is all about strategy. We collaborate from the beginning to identify opportunities
                and develop concepts, helping to shape your strategy. We enable you by determining the right-sized
                delivery strategy so that you can quickly obtain customer feedback. Our experienced product development
                team is ready to partner closely to successfully define, build, and evolve compelling and
                high-performing products.</p>
        </picture>
        <picture>
            <img src="https://www.gadgeon.com/web/images/p-e-02.jpg" alt="img2">
            <h2>Embedded Systems</h2>
            <p>We take complete ownership in all areas of Embedded Systems from hardware design, firmware design &
                development, proto build, firmware integration, test & validation and manufacturing tests &
                certifications.

                We develop prototypes that are as reliable as working products. We help our customers engineering teams
                to identify and use the latest technologies in their products. We contribute to whole product
                development as well as sub-system development.</p>
        </picture>
        <picture>
            <img src="https://www.gadgeon.com/web/images/p-e-03.jpg" alt="img3">
            <h2>Product Sustenance & Maintenance</h2>
            <p>Market evolutions drive technology organizations to introduce next-gen products to meet their strategic
                goals. At the same time, there is a critical need to effectively sustain previous generation products to
                retain customer revenues and experience. Gadgeon Product Sustenance services help extend the life of
                revenue-generating products.</p>
        </picture>

    </div>
</body>

</html>