img{
    width:30%;
    height: 350px;
    margin-right: 3%px;
}
.images{
    margin:0px 5%;
}
h1{
    color:blue;
    padding: 5px;
    margin:0px 5%;
}
p{
    margin:0px 5%;
    font-size: larger;
}