<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7XX6Lpv_faTPK2Bj_tM2mjhLkmdJndQyYhQ&usqp=CAU"
            alt="img1">
        <img src="https://media-exp1.licdn.com/dms/image/C4E22AQEM15Lm5gU7RQ/feedshare-shrink_2048_1536/0/1663925386666?e=2147483647&v=beta&t=EbT56HwRtQGTOfLphKfPck9_DDG6vUBeRl3CVRMO7MI"
            alt="img2">
        <img src="https://media-exp1.licdn.com/dms/image/C5622AQG2SZsmsnuLAw/feedshare-shrink_800/0/1662713785302?e=2147483647&v=beta&t=RO8NTiuc36n78iIOSxtv3bPrgE0RELmWVXdWcrbtTVM"
            alt="img3">
    </div>
    <h1>Info</h1>
    <p>Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital
        journey. Gadgeon is dedicated to building solid software systems that creates business value for
        enterprises. Our services include Product engineering, IoT Engineering, Embedded systems – hardware &
        Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app
        development, data analytics with AI & ML, testing & automation, and Professional services. Gadgeon enables
        our customers to fully focus on high impact business transformation initiatives while the extended team from
        Gadgeon takes care of all engineering and operational activities.</p>

</body>

</html>